@import '../../../assets/styles/vars.scss';

.search-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  transition: ease-in-out 0.4s;
  &:hover {
    color: $hover-color;
  }
}
