@import '../../assets/styles/vars.scss';
@import '../common/Header/index.scss';

.account {
  &__nav {
    display: block;
    position: absolute;
    top: 32px;
    overflow: hidden;
    right: 0;
    width: 267px;
    display: none;
    background-color: $white-color;
    z-index: 11;
    border-radius: 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  }
  &__list {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  &__link {
    display: block;
    color: $black;
    font-size: 16px;
    padding: 24px 0 24px 24px;
    transition: ease 0.4s;
    &:hover {
      color: $hover-color;
      background-color: $main-color;
    }
  }
  &__logout {
    display: flex;
    justify-content: flex-start;
    border: none;
    outline: none;
    width: 100%;
    padding: 24px 0 24px 24px;
    background-color: $white-color;
    font-size: 16px;
    color: $black;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: $main-color;
      color: $hover-color;
    }
  }
  &__user {
    display: inline-block;
    font-size: 16px;
    padding: 24px 0 24px 24px;
    color: $black;
  }
}
